.App {
  max-width: 740px;
  margin: 50px auto;
}

.App footer {
  font-size: 11px;
  text-align: center;
  margin-top: 7px;
  opacity: 0.9;
}

.App .title {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 50px;
  text-decoration: overline underline;

  font-weight: 800;
}

.App .container {
  background-image: linear-gradient(
      rgba(203, 192, 192, 0.6),
      rgba(207, 180, 180, 0.3)
    ),
    url("background3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 0;
  border-radius: 5px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
}
