.App {
  max-width: 750px;
  margin: 60px auto;
}

.App footer {
  font-size: 11px;
  margin: 0 auto;
  display: block;
  margin-top: 5px;
}

.App h1 {
  display: block;
  margin: 0 auto;
  padding: 20px;
}
