.weather {
  border: 1px solid black;
  border-radius: 5px;
  padding: 16px;
  margin-top: 40px;
  margin-bottom: 5px;
}

.current-temp {
  font-size: 50px;
  margin-left: 40px;
  font-weight: 500;
}

.weather ul {
  margin: 0;
  padding: 0;
}

.weather .day-info {
  margin-left: 30px;
}

.weather li {
  list-style: none;
  margin-left: 10px;
  padding-left: 10px;
}

.weather .info {
  margin-left: 40px;
  padding-left: 0;
}

.weather h1 {
  margin: 15px 20px 10px 35px;
  padding: 0px 10px;
  font-size: 50px;
}

.weather form {
  margin: 10px 10px;
  padding: 10px 10px;
}

.weather .unit {
  font-size: 16px;
  position: relative;
  top: -32px;
  margin-left: 3px;
}

.weather .description {
  margin-bottom: 10px;
}

.weather .icon {
  margin-top: 10px;
  margin-left: 10px;
  position: relative;
  top: 15px;
}

.weather a {
  text-decoration: none;
  color: black;
}

.weather .search {
  margin-top: 20px;
  margin-left: 10px;
}

.weather .search-bar {
  padding-right: 0;
}
