.weather {
  border: 1px solid black;
  border-radius: 5px;
  padding: 16px;
  margin-top: 40px;
  margin-bottom: 5px;
}

.current-temp {
  font-size: 50px;
  margin-left: 40px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.weather ul {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  opacity: 0.9;
}

.weather .day-info {
  margin-left: 30px;
}

.weather li {
  list-style: none;
  margin-left: 0px;
  padding-left: 10px;
}

.weather .info {
  margin-left: 40px;
  padding-left: 0;
}

.weather h1 {
  margin: 7px 15px 0px 15px;
  padding: 0px 10px;
  font-size: 70px;
  padding: 20px;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.weather form {
  margin: 10px 10px;
  padding: 10px 10px;
}

.weather .unit {
  font-size: 16px;
  position: relative;
  top: -32px;
  margin-left: 3px;
}

.weather .description {
  margin-bottom: 10px;
}

.weather .icon {
  margin-top: 10px;
  margin-left: 10px;
  position: relative;
  top: 15px;
}

.weather a {
  text-decoration: none;
  color: black;
}

.weather .search {
  margin-top: 20px;
  margin-left: 10px;
}

.weather .search-bar {
  padding-right: 0;
  margin-left: 12px;
}

.weather .current-info {
  padding-top: 20px;
}

.weather .btn {
  background-color: #93797c;
  border: 1px solid #93797c;
  color: aliceblue;
}

.weather .btn:hover {
  background-color: #b49599;
  border: 1px solid #b49599;
}
